.mat-list-item{
    height: auto !important;
}

.episode-unit{
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.episode-date{
    font-size: x-small;
    color: rgba(0,0,0,0.54);
}

.episode-content{
    font-size: small;
    color: rgba(0,0,0,0.54);
}