<ion-header>
  <ion-toolbar>
    <ion-title>
      奉献支持
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-16">
    <p style="text-align: center;">
      <img style="width:60%;" src="./assets/logo.png">
    </p>
    <p>
      小凤media是一个非牟利机构，从录音设备，到节目的录制、剪辑、发表，再到网站的制作，维护，全都是靠大家在时间和金钱上的无私奉献。
      如果您也有感动在经济上支持我们，我们将使用您的奉献祝福到世界上更多需要帮助的人。
    </p>
    <p>
      如果您想使用银行转账，下面是我们的银行账号信息：
    </p>
    <p>
      Account Name: xiaofeng media inc
    </p>
    <p>
      BSB: 033-048
    </p>
    <p>
      Account Number: 506431
    </p>
    <p>
      Bank: Westpac
    </p>
    <p>
      感谢您对小凤media的收听与支持！
    </p>
  </div>
  
</ion-content>
